{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center jumbotron" id="top-bar">
			<img src="/assets/images/burger.png" alt="DOUBLEburger" />
			<h1> Eat-Da-DOUBLEBurger! </h1>
		</div>
		<div class="col-md-6 text-center" class="">
			<div class="row">
				<div class="col-xs-3 text-center">
					<form method="POST" action="/burgers/update?_method=PUT" class="button-size">
						<input input type="hidden" type="text" name="burger_id" value={{this.id}}><br>
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6 text-center" class="">
			<div class="row">
			</div>
		</div>
	</div>
</div>
